Using CSV File

In [1]:
import pandas as pd

df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow
3  01/04/17           24          7   Snow
4  01/05/17           32          4   Rain
5  01/06/17           32          2  Sunny

Using Excel Sheet

In [13]:
df2 = pd.read_excel("weather_data.xlsx","weather_data")

In [14]:
df2

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  Sunny
2  01/03/17           28          2   Snow
3  01/04/17           24          7   Snow
4  01/05/17           32          4   Rain
5  01/06/17           32          2  Sunny

Using Python Dictionary

In [17]:
weather_data = {
    'day' : ['1/1/2017' , '1/2/2017' , '1/3/2017'],
    'temperature' : [32,35,28],
    'windspeed' : [6,7,2],
    'event' : ['Rain' , 'Sunny' , 'Snow']
}

df3 = pd.DataFrame(weather_data)

In [18]:
df3

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

Using List of Tuples

In [19]:
weather_data = [
    ('1/1/2017' , 32 , 6 , 'Rain'),
    ('1/2/2017' , 35 , 7 , 'Sunny'),
    ('1/3/2017' , 28 , 2 , 'Snow')
]

df4 = pd.DataFrame(weather_data, columns = ['day','temperature','windspeed','event'])

In [20]:
df4

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

Using List of Dictionaries

In [21]:
weather_data = [
    {'day' : '1/1/2017' ,'temperature' : 32 ,'windspeed' : 6 ,'event' : 'Rain'},
    {'day' : '1/2/2017' ,'temperature' : 35 ,'windspeed' : 7 ,'event' : 'Sunny'},
    {'day' : '1/3/2017' ,'temperature' : 28 ,'windspeed' : 2 ,'event' : 'Snow'}
]

df5 = pd.DataFrame(weather_data)

In [22]:
df5

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow